@media screen and (min-width:760px) {
    .cabeçalho{
        width: 100%;
        margin: 10px auto;
        display: inline-block;
        align-items: center;
    }
    .nav-menu{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: row nowrap;
        flex-shrink: 1;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
        box-sizing: border-box;
        background: rgba(123, 74, 226, 0.05);
        border-radius: 16px;        
    }

    .logo-menu{
        width: 20px;
        position: relative;
    }

    .lista-menu{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        list-style: none;
    }

    .link-menu{
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.5);
    }

    .fade-in {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .fade-in.active {
        opacity: 1;
    }

    /* Apresentação */
    .principal{
        width: 90%;
        align-items: center;
    }
    .home{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 100px auto;
        box-sizing: border-box;
    }
    .redes-mobile{
        display: none;
    }    
    
    .apresentação{
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .saudação{
        padding: 5px 10px;
        width: 120px;
        font-size: 12px;
        line-height: 12px;
        padding: 10px 10px;

    }
    .saudação span{
        font-size: 16px;
    }

    .nome-apresentação{
        width: 100%;
        font-size:38px;    
        line-height: 40px;
    
    }

    .cargo{
        font-size:14px;
    }

    .redes-desktop{
        display: flex;
        order: 2;
        width: 50%;
        margin: 20px 0;
    }
    .lista-redes{
        width: 80%;
        margin: auto;        
    }
    .item-redes img{
        width: 2rem;    
    }

    .icone-apresentacao{
        order: 1;
        width: 400px;
        margin: auto;
    }
    .img-apresentacao{
        margin: auto;
        width: 100%;
    }


    .resumo{
        width: 20%;
        order: 2;
        flex-direction: column;
        align-items: end;
        gap: 5px;
    }

    .link-download{
        justify-content: end;
        font-size: 16px;
    }

    .btn-conversar{
        width:100%;
        padding: 15px 10px;
        font-size: 14px;
        border-radius: 14px;   
    }

    /**************** Sobre mim ****************/
    .sobre-mim{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    .imagem-sobre{
        width: 20%;
    }
    .sobre-textos{
        width: 60%;
    }
    .descrição-sobre{
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 10px;
    }

    /* seção Portfólio */   
    .portfolio{
        align-items: center;
        text-align: center;
        margin: 0 auto 40px auto;
    }
    .projetos{
        margin: auto;
    }
    .carrossel{
        overflow: none;
        padding-right: 0;
    }
    .bloco-projeto{
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
    }

    .menu-projeto{
        list-style: none;
        justify-content: center;
        margin-bottom: 20px;
        
    }

    /* *********** Skills ***************/
    .habilidades{
        margin: 80px auto;
        align-items: center;
        /* gap: 20px; */
    }
    .centralizar-titulo{
        text-align: center;
    }

    .lista-habilidade{
        overflow: none;
        flex-wrap: wrap;
    }
    .descricao-habilidade{
        text-align: center;
    }

    /* ************* Carreira ****************** */
    .experiencia{
        text-align: center;
        align-items: center;
        margin: auto;
    }
    .container-experiencia{
        margin-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
.exp-profissional,
.exp-academica{
    width: 100%;
}
   
    .lista-experiencia{
        width: 100%;
        flex-direction: column;
        overflow: none;
        align-items: center;
        flex-grow: 1;
    }

    .item-experiencia{
        width: 100%;
        min-height: 200px;
        flex-grow: 2;
        flex-basis: content;
    }
    .descricao-experiencia{
        max-width: max-content;
        flex-wrap: wrap;
    }
        
    /* ************** Contatos ************** */
    .contatos{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .destaque-contato{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo-contato{
        width: 100%;
        text-align: center;
    }
    .bloco-contato-email{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .container-contato{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 40px;
        align-items: center;
    }
    .bloco-contato-email{
        align-items: center;
        text-align: center;
    }
    .btn-contato{
        width: 200px;
        padding: 15px 20px;
        border-radius: 10px;
    }
    .voltar-topo{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    /* ************** Footer ************ */
    .footer{
        width: 100%;
       
    }
    .redes-sociais-footer{
        box-sizing: border-box;
    }
    .listas-redes-footer{
        width: 100%;
        gap: 1.5rem;
        box-sizing: border-box;
    }
         
}