@charset "utf-8";
*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}
body{
    width: 100%;    
    background-color: #090E16;
    font-family: 'Raleway';
}

.cabeçalho{
    display: none;
}

/* Titulos */
.titulo-medio{
    font-size: 16px;
    font-weight: 800;
    color:#ffffff;
}
.titulo-pequeno{
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
}


/************* Apresentação *************/

.principal{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem auto;
}

.redes-sociais{
    width: 130px;
    margin: 20px auto 0 auto;
}
.redes-desktop{
    display: none;
}
.lista-redes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
}
.item-redes img{
    width: 32px;    
}

.icone-apresentacao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-apresentacao{
    width: 300px;
    margin: 0 auto 2rem auto ;

}

.apresentação{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    margin: auto;
}

.saudação{
    width: 150px;
    color: #7B4AE2;
    background-color:#7B4AE21A;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}
.saudação span{
    font-size: 16px;
}

.nome-apresentação{
    font-size:48px;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
    line-height: 56px;
    margin: 0;
    
}

.cargo{
    width: 100%;
    font-size:18px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    text-align: justify;
    transform: rotate(-0.03deg);

}

.resumo{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.link-download{
    display: flex;
    justify-content: center;
    align-items: end;
    color: rgba(123, 74, 226, 0.5);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.icone-download{
    color: rgba(123, 74, 226, 0.5);
}

.btn-conversar{
    width: 150px;
    padding: 10px 10px;
    border: 2px solid;
    border-color: rgba(123, 74, 226, 0.5);
    border-radius: 8px;
    color:rgba(123, 74, 226, 0.5);
    background: #090E16;
    font-size: 12px;
    font-weight: 600;
     
}

.btn-conversar:active


/* Seção sobre mim */

.sobre-mim{
    margin: 80px auto;
}
.imagem-sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
}
.img-sobre-mim{
    width: 100%;
    border-radius: 50%;
    border: solid 1px rgba(255,255,255,.6);
}

.titulo-segundario{
    width: 80%;
    color: #ffffff;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 15px;
}
.descrição-sobre{
    color: rgb(255,255,255,0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 10px;
}

/* seção Portfólio */

.portfolio{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 40px auto;
}

.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    overflow: hidden;
}

.menu-projeto{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 20px;
      
}

.item-menu-projeto{
    width: 116px;
    color: rgba(123, 74, 226, 0.5);
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;
}

.carrossel{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: auto;
    padding-right: 200px;
}

.carrossel::-webkit-scrollbar{
    display: none;
}

.bloco-projeto{
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

/* ************ Card do projeto ********* */
.item-projeto{
    width: 260px;
    height: 371px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 16px;
    padding: 10px;
}

.titulo-projeto{
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.descricao-projeto{
    width: 90%;
    padding-top: 20px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

.prop-projeto{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.img-projeto{
    width: 100%;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 10px;
}

.cta-projeto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.link-projeto{
    text-decoration: none;
    /* background-color: rgba(255, 255, 255, 0.753);
    color: rgba(123, 74, 226, 0.5); */
    color:#170442;
    background-color: #7B4AE2;    
    font-size: 12px;
    font-weight: 600;
    padding: 2px 20px;
    border-radius: 5px;
    transition: all 100ms ease-in-out;
    /* box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.733); */
    align-items: baseline;
}

.link-projeto:hover{
    box-shadow: .5px .5px 2px rgba(255, 255, 255, 0.733);   
    color: rgba(255, 255, 255, 0.733);
}

/* *********** Skills ***************/
.habilidades{
    margin: 0 auto 80px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.habilidade-rotina{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.descricao-habilidade{
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);

}

.lista-habilidade{
    list-style: none;
    display: flex;
    gap: 20px;
    flex-flow: row nowrap;
    overflow-x: auto;
}

.lista-habilidade::-webkit-scrollbar{
    display: none;
}

/* ************* Carreira ****************** */

.experiencia{
    margin: 0 auto 80px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-descriçao{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.exp-profissional,
.exp-academica{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 2rem;

}

.lista-experiencia{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color:inherit;
}
.lista-experiencia::-webkit-scrollbar{
    display: none;
}

.item-experiencia{
    width: 90%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 10px;
    padding: 10px;
    flex-shrink: 0;
}

.descricao-experiencia{
    width: 90%;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    text-align:justify;
}

.dados-experiencia{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.texto-tempo-exper,
.texto-periodo-exper{
    width: 100%;
    color: #7B4AE2;
    font-size: 12px;
    text-align: left;
}
.texto-periodo-exper{
    text-align: left;
}

/* ************** Contatos ************** */
.contatos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2rem auto;
}
.bloco-contato-email{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contato-icone{
    width: 24px;
}
.contato-titulo-email{
    font-size: 16px;
    color: #7B4AE2;
}
.contato-email{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.voltar-topo{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: baseline;
    gap: 5px;
    color: rgba(170, 170, 170, 0.5);
}

/* ************** Footer ************ */
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 20px;
    background-color: rgba(123, 74, 226, 0.1) ;
}
.texto-footer{
    color: #ffffff50;
    font-size: 12px;
    text-align: center;    
}