*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}
body{
    width: 100%;    
    background-color: #090E16;
    font-family: 'Raleway';
}

.principal{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.titulo-medio{
    font-size: 16px;
    font-weight: 800;
    color:#ffffff;
}

.redes-sociais{
    width: 130px;
    margin: 20px auto 0 auto;
}
.lista-redes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
}
.item-redes img{
    width: 32px;    
}

.icone-apresentacao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-apresentacao{
    margin: auto ;
}

.apresentação{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    margin: auto;
}

.saudação{
    width: 40%;
    color: #7B4AE2;
    background-color:#7B4AE21A;
    font-size: 80%;
    font-weight: 700;
    line-height: 16px;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}
.saudação span{
    font-size: 16px;
}

.nome-apresentação{
    width: 100%;
    font-size:48px;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
    line-height: 56px;
    margin: 0;
    
}

.cargo{
    width: 100%;
    font-size:18px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    text-align: justify;
    transform: rotate(-0.03deg);

}

.resumo{
    width: 100%;
    height: 44px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-download{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: end;
    color: rgba(123, 74, 226, 0.5);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

.icone-download{
    color: rgba(123, 74, 226, 0.5);
}

.btn-conversar{
    width: 60%;
    height: 44px;
    border-color: rgba(123, 74, 226, 0.5);
    border-radius: 8px;
    color:rgba(123, 74, 226, 0.5);
    background: #090E16;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;    
}

/* Seção sobre mim */

.sobre-mim{
    margin: 80px auto;
}
.imagem-sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
}
.img-sobre-mim{
    width: 100%;
    border-radius: 50%;
}

.titulo-segundario{
    width: 80%;
    color: #ffffff;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 15px;
}
.descrição-sobre{
    color: rgb(255,255,255,0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 10px;
}

/* seção Portfólio */

.portfolio{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 40px auto;
}

.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    overflow: hidden;
}

.menu-projeto{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 20px;
      
}

.item-menu-projeto{
    width: 116px;
    color: rgba(123, 74, 226, 0.5);
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;
}

.carrossel{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: auto;
    padding-right: 200px;
}
.carrossel::-webkit-scrollbar{
    display: none;
}

.bloco-projeto{
    width: 110%;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

/* ************ Card do projeto ********* */
.item-projeto{
    width: 260px;
    height: 371px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 16px;
    padding: 10px;
}

.titulo-projeto{
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.descricao-projeto{
    width: 90%;
    padding-top: 20px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

.prop-projeto{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.img-projeto{
    width: 100%;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 10px;
}

.cta-projeto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.link-projeto{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.753);
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 20px;
    border-radius: 5px;
    transition: all 1000ms ease-in-out;
    box-shadow: 1px 1px 2px rgb(255, 255, 255);
    align-items: baseline;
}

/* *********** Skills ***************/
.habilidades{
    margin: 0 auto 80px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.habilidade-rotina{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.descricao-habilidade{
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);

}

.lista-habilidade{
    list-style: none;
    display: flex;
    gap: 20px;
    flex-flow: row nowrap;
    overflow-x: auto;
}

.lista-habilidade::-webkit-scrollbar{
    display: none;
}

/* ************* Carreira ****************** */

.experiencia{
    margin: 0 auto 80px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-descriçao{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.exp-profissional{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

}

.lista-experiencia{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    list-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.item-experiencia{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descricao-experiencia{
    width: 80%;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-align: justify;
}

.dados-experiencia{
    display: flex;
    justify-content: end;
    align-items: end;
}